body, h1, p, span, div, button, textarea {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-image: url(img/bg.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  color: #333;
  line-height: 1.6;
  margin: 0;
  position: relative;
}

body::before {
  content: "";
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

#contact {
  color: #fff;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  padding: 10px 20px;
}

header img {
  width: 100px;
}

#content-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

header div {
  font-family: 'Karla', sans-serif;
  text-align: right;
  color: #fff;
}

h1 {
  font-family: 'Cormorant Infant', serif;
  text-align: center;
  font-size: 80px;
  margin: 20px 0;
  color: #333;
}

p {
  font-family: 'Karla', sans-serif;
  text-align: center;
  font-size: 26px;
  margin-top: 10px;
  margin-bottom: 30px;
  color: #666;
}

a {
  text-decoration: none;
}

span {
  font-family: 'Karla', sans-serif;
  font-size: 21px;
  display: block;
  color: #888;
}

.circle-button {
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-button i {
  font-size: 18px;
  line-height: 1;
}

.input-container {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
}

.input-box {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 10px;
}

#role-input {
  font-family: 'Karla', sans-serif;
  font-size: 22px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

textarea {
  font-family: 'Karla', sans-serif;
  font-size: 22px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  flex: 1;
}

.circle-button:hover {
  background-color: #555;
}

.response-container {
  display: none;
  font-family: 'Karla', sans-serif;
  font-size: 21px;
  color: #333;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  text-align: left;
  white-space: pre-line;
}
